{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>{{course}}</h5>
            <h5>Speaker {{example}}</h5>
            <span>Example detail</span>
        </div>
        <div class="card card-body">
            <div>Example</div>
            <hr>
            <div>{{example.example}}</div>
            <div>IPA: {{example.translation}}</div>
            {% if example.node %}
                <div>Node: {{example.node}}</div>
            {% endif %}
            <div>User: {{example.user}}</div>
            {% if request.user == example.user %}
                <a href="{% url 'example-edit' course.id example.id %}">Edit</a>
                <a href="{% url 'example-remove' course.id example.id %}">Remove</a>
            {% endif %}
            <hr>

        </div>
    </div>
</div>


{% endblock %}